<ion-header>
    <ion-navbar>
        <button menuToggle ion-button>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{"home.title" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            {{"home.card-header" | translate}}
        </ion-card-header>
        <ion-card-content>
            {{"home.card-content" | translate}}
        </ion-card-content>
    </ion-card>

</ion-content>