<ion-header>
    <ion-navbar>
        <button menuToggle ion-button>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Home
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            Welcome to Angular2-Meteor with Ionic2
        </ion-card-header>
        <ion-card-content>
            This project is ready to code with email/password authentication and ng2-translate
        </ion-card-content>
    </ion-card>

</ion-content>